<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
</style>
</head>     
<body>


<p>Please select movie from recommendations only</p>

<!--Make sure the form has the autocomplete function switched off:-->
<form autocomplete="off" action="/recommend" method="POST">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="movielike" placeholder="Movie">
  </div>
  <input type="submit">
</form>

<script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/
var movies = ["Avatar",
"Pirates of the Caribbean: At World's End",
"Spectre",
"The Dark Knight Rises",
"John Carter",
"Spider-Man 3",
"Tangled",
"Avengers: Age of Ultron",
"Harry Potter and the Half-Blood Prince",
"Batman v Superman: Dawn of Justice",
"Superman Returns",
"Quantum of Solace",
"Pirates of the Caribbean: Dead Man's Chest",
"The Lone Ranger",
"Man of Steel",
"The Chronicles of Narnia: Prince Caspian",
"The Avengers",
"Pirates of the Caribbean: On Stranger Tides",
"Men in Black 3",
"The Hobbit: The Battle of the Five Armies",
"The Amazing Spider-Man",
"Robin Hood",
"The Hobbit: The Desolation of Smaug",
"The Golden Compass",
"King Kong",
"Titanic",
"Captain America: Civil War",
"Battleship",
"Jurassic World",
"Skyfall",
"Spider-Man 2",
"Iron Man 3",
"Alice in Wonderland",
"X-Men: The Last Stand",
"Monsters University",
"Transformers: Revenge of the Fallen",
"Transformers: Age of Extinction",
"Oz: The Great and Powerful",
"The Amazing Spider-Man 2",
"TRON: Legacy",
"Cars 2",
"Green Lantern",
"Toy Story 3",
"Terminator Salvation",
"Furious 7",
"World War Z",
"X-Men: Days of Future Past",
"Star Trek Into Darkness",
"Jack the Giant Slayer",
"The Great Gatsby",
"Prince of Persia: The Sands of Time",
"Pacific Rim",
"Transformers: Dark of the Moon",
"Indiana Jones and the Kingdom of the Crystal Skull",
"The Good Dinosaur",
"Brave",
"Star Trek Beyond",
"WALL·E",
"Rush Hour 3",
"2012",
"A Christmas Carol",
"Jupiter Ascending",
"The Legend of Tarzan",
"The Chronicles of Narnia: The Lion, the Witch and the Wardrobe",
"X-Men: Apocalypse",
"The Dark Knight",
"Up",
"Monsters vs Aliens",
"Iron Man",
"Hugo",
"Wild Wild West",
"The Mummy: Tomb of the Dragon Emperor",
"Suicide Squad",
"Evan Almighty",
"Edge of Tomorrow",
"Waterworld",
"G.I. Joe: The Rise of Cobra",
"Inside Out",
"The Jungle Book",
"Iron Man 2",
"Snow White and the Huntsman",
"Maleficent",
"Dawn of the Planet of the Apes",
"The Lovers",
"47 Ronin",
"Captain America: The Winter Soldier",
"Shrek Forever After",
"Tomorrowland",
"Big Hero 6",
"Wreck-It Ralph",
"The Polar Express",
"Independence Day: Resurgence",
"How to Train Your Dragon",
"Terminator 3: Rise of the Machines",
"Guardians of the Galaxy",
"Interstellar",
"Inception",
"シン・ゴジラ",
"The Hobbit: An Unexpected Journey",
"The Fast and the Furious",
"The Curious Case of Benjamin Button",
"X-Men: First Class",
"The Hunger Games: Mockingjay - Part 2",
"The Sorcerer's Apprentice",
"Poseidon",
"Alice Through the Looking Glass",
"Shrek the Third",
"Warcraft",
"Terminator Genisys",
"The Chronicles of Narnia: The Voyage of the Dawn Treader",
"Pearl Harbor",
"Transformers",
"Alexander",
"Harry Potter and the Order of the Phoenix",
"Harry Potter and the Goblet of Fire",
"Hancock",
"I Am Legend",
"Charlie and the Chocolate Factory",
"Ratatouille",
"Batman Begins",
"Madagascar: Escape 2 Africa",
"Night at the Museum: Battle of the Smithsonian",
"X-Men Origins: Wolverine",
"The Matrix Revolutions",
"Frozen",
"The Matrix Reloaded",
"Thor: The Dark World",
"Mad Max: Fury Road",
"Angels & Demons",
"Thor",
"Bolt",
"G-Force",
"Wrath of the Titans",
"Dark Shadows",
"Mission: Impossible - Rogue Nation",
"The Wolfman",
"Bee Movie",
"Kung Fu Panda 2",
"The Last Airbender",
"Mission: Impossible III",
"White House Down",
"Mars Needs Moms",
"Flushed Away",
"Pan",
"Mr. Peabody & Sherman",
"Troy",
"Madagascar 3: Europe's Most Wanted",
"Die Another Day",
"Ghostbusters",
"Armageddon",
"Men in Black II",
"Beowulf",
"Kung Fu Panda 3",
"Mission: Impossible - Ghost Protocol",
"Rise of the Guardians",
"Fun with Dick and Jane",
"The Last Samurai",
"Exodus: Gods and Kings",
"Star Trek",
"Spider-Man",
"How to Train Your Dragon 2",
"Gods of Egypt",
"Stealth",
"Watchmen",
"Lethal Weapon 4",
"Hulk",
"G.I. Joe: Retaliation",
"Sahara",
"Final Fantasy: The Spirits Within",
"Captain America: The First Avenger",
"The World Is Not Enough",
"Master and Commander: The Far Side of the World",
"The Twilight Saga: Breaking Dawn - Part 2",
"Happy Feet Two",
"The Incredible Hulk",
"The BFG",
"The Revenant",
"Turbo",
"Rango",
"Penguins of Madagascar",
"The Bourne Ultimatum",
"Kung Fu Panda",
"Ant-Man",
"The Hunger Games: Catching Fire",
"Home",
"War of the Worlds",
"Bad Boys II",
"Puss in Boots",
"Salt",
"Noah",
"The Adventures of Tintin",
"Harry Potter and the Prisoner of Azkaban",
"Australia",
"After Earth",
"Dinosaur",
"Night at the Museum: Secret of the Tomb",
"Megamind",
"Harry Potter and the Philosopher's Stone",
"R.I.P.D.",
"Pirates of the Caribbean: The Curse of the Black Pearl",
"The Hunger Games: Mockingjay - Part 1",
"The Da Vinci Code",
"Rio 2",
"X2",
"Fast Five",
"Sherlock Holmes: A Game of Shadows",
"Clash of the Titans",
"Total Recall",
"The 13th Warrior",
"The Bourne Legacy",
"Batman & Robin",
"How the Grinch Stole Christmas",
"The Day After Tomorrow",
"Mission: Impossible II",
"The Perfect Storm",
"4: Rise of the Silver Surfer",
"Life of Pi",
"Ghost Rider",
"Jason Bourne",
"Charlie's Angels: Full Throttle",
];

/*initiate the autocomplete function on the "myInput" element, and pass along the movies array as possible autocomplete values:*/
autocomplete(document.getElementById("myInput"), movies);
</script>

</body>
</html>
